/* @import './assets/fonts/fonts.css'); */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/CircularStd/CircularStd-Black.otf");
  font-weight: 900;
}

@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/CircularStd/CircularStd-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/CircularStd/CircularStd-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/CircularStd/CircularStd-Book.otf");
  font-weight: 450;
}

@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/CircularStd/CircularStd-Book.otf");
}